@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" );

body {
    margin: 10px;
    background-image: url(../src/assets/Images/Background-Image.jpg);

}

.navbar {
    background: #f4c433;
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 6px solid #000;
    box-shadow: 6px 7px 0 #000;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-us-btn {
    background: #f92d2d;
    color: white;
    font-weight: 700;
    font-size: 15px;
    padding: 12px 24px;
    border: 3px solid black;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #000;
    transform: rotate(-4deg);
}

.navbar h1{
    margin: 0;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    font-weight: 900;
    color:rgb(4, 4, 4)
}
.navbar img {
    width: 60px;
    border-radius: 20px;
}

#configuration-btn{
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

#add-a-task{
    background: #f92d2d;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #000;
}

#delete-a-task{
    background: #f92d2d;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #000;
}

#cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

#to-do-card{
    width: 450px;
    height: 600px;
    /* align-self: flex-start; */
    border: 4px solid rgb(81, 81, 81);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: rgb(245, 226, 226);
}

#in-progress-card{
    width: 450px;
    height: 600px;
    border: 4px solid rgb(81, 81, 81);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: rgb(250, 236, 218);
}

#completed-card{
    width: 450px;
    height: 600px;
    border: 4px solid rgb(81, 81, 81);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: rgb(226, 245, 226);
}

.to-do{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 800px; */
    background-color: rgb(243, 159, 159);
    font-size: 25px;
    padding: 12px 24px;
    border: 5px solid black;
    position: flex;
    border-radius: 4px;
    box-shadow: 7px 7px 0 #000;
    transform: rotate(-4deg);
    
}

.in-progress{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 800px; */
    background-color: rgb(246, 180, 93);
    font-size: 25px;
    padding: 12px 24px;
    border: 5px solid black;
    position: relative;
    border-radius: 4px;
    box-shadow: 7px 7px 0 #000;
    transform: rotate(4deg);
}

.completed{
   display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 800px; */
    background-color: rgb(150, 244, 167);
    font-size: 25px;
    padding: 12px 24px;
    border: 5px solid black;
    position: relative;
    border-radius: 4px;
    box-shadow: 7px 7px 0 #000;
    transform: rotate(-4deg);
}

#to-do-card,
#in-progress-card,
#completed-card {
    position: relative;
}

.to-do,
.in-progress,
.completed {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) rotate(-4deg);
}
.in-progress {
    transform: translateX(-50%) rotate(4deg);
}

.completed {
    transform: translateX(-50%) rotate(-4deg);
}


